@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$mainColor: #22232c;
$textColor: #c1c2c5;
$mainFont: Inter;
$secondaryColor: rgba(12, 12, 12, 0.4);
$secondaryColorHighlight: #33343F;
$secondaryColorLight: rgba(0, 0, 0, 0.5);
$secondaryColorDark: rgba(12, 12, 12, 0.8);

$baseScreenHeight: 1080;
$pxToVh: calc(1vh / $baseScreenHeight * 100);
$gridCols: 5;
$gridRows: 5;
$gridSize: calc(100*$pxToVh);
$gridGap: calc(16*$pxToVh);
$containerSize: calc(#{$gridRows} * #{$gridSize} + #{$gridRows} * #{$gridGap});

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  // background: none !important;
  overflow: hidden !important;
  user-select: none;

  transform: perspective(1px) translateZ(0);

}

#root {
  height: 100%;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    // background-image: url(https://cdn.discordapp.com/attachments/979825310122016818/1190795914344943746/image.png);
    background-size: contain;
    z-index: -99;

  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  display: none;
}

p {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.app-wrapper {
  height: 100%;
  width: 100%;
  color: white;
  position: relative;
  z-index: 0;
}

.context-menu-list {
  min-width: calc(196*$pxToVh);
  // background-color: $mainColor;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    linear-gradient(0deg, rgba(36, 34, 32, 0.6), rgba(36, 34, 32, 0.6));
  color: $textColor;
  // padding: calc(4*$pxToVh);
  // border-color: rgba(0, 0, 0, 0.2);
  // border-style: inset;
  // border-width: calc(1*$pxToVh);
  // border-radius: calc(4*$pxToVh);
  outline: none;
  display: flex;
  flex-direction: column;
}

.context-menu-item {
  padding: calc(8*$pxToVh);
  background-color: transparent;
  outline: none;
  border: none;
  color: $textColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'EB Garamond', serif !important;
  font-size: calc(15*$pxToVh);
  font-weight: 700;
  padding: calc(6*$pxToVh) calc(10*$pxToVh);
  // background: linear-gradient(180deg, #FFCE70 0%, rgba(255, 227, 173, 0.768229) 36.98%, rgba(255, 255, 255, 0.75) 100%);
  color: rgba(255, 227, 173, 1);
  text-shadow: 0 calc(4*$pxToVh) calc(10*$pxToVh) rgba(0, 0, 0, 0.25);
  // -webkit-text-fill-color: transparent;
  // -webkit-background-clip: text;

  &:active {
    transform: none;
  }

  &:hover {
    background: linear-gradient(90deg, rgba(255, 220, 152, 0.75) 0%, rgba(255, 220, 152, 0.1875) 100%);
    -webkit-text-fill-color: unset;
    -webkit-background-clip: unset;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;

    .arrow-right {
      color: rgba(0, 0, 0, 1);

    }
  }

  .arrow-right {
    height: calc(12*$pxToVh);
    width: calc(12*$pxToVh);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 227, 173, 0.768229);

    svg {
      height: 100%;
    }
  }
}

.tooltip-description {
  padding-top: calc(5*$pxToVh);
}

.tooltip-markdown>p {
  margin: 0;
}

button:active {
  transform: translateY(calc(3*$pxToVh));
}

.item-drag-preview {
  width: 7.7vh;
  height: 7.7vh;
  z-index: 1;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7vh;
  image-rendering: -webkit-optimize-contrast;
}

.inventory-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  gap: calc(20*$pxToVh);
}

.inventory-bg-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
  background: rgba(0, 0, 0, 0.5);

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 33%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: -99;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 33%;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    z-index: -99;
  }
}

.inventory-control {
  display: flex;
  z-index: 1;

  .inventory-control-wrapper {
    display: flex;
    flex-direction: column;
    gap: calc(20*$pxToVh);
    justify-content: center;
    align-items: center;
  }

  .inventory-control-input {
    transition: 200ms;
    padding: calc(16*$pxToVh) calc(8*$pxToVh);
    border-radius: 2.5%;
    font-family: $mainFont;
    font-size: calc(16*$pxToVh);
    text-align: center;
    outline: none;
    border: none;
    color: #fff;
    background-color: $secondaryColor;

    &:focus-within {
      background-color: $secondaryColorDark;
    }
  }

  .inventory-control-button {
    font-size: calc(14*$pxToVh);
    color: #fff;
    background-color: $secondaryColor;
    transition: 200ms;
    padding: calc(12*$pxToVh) calc(18*$pxToVh);
    border-radius: 2.5%;
    border: none;
    text-transform: uppercase;
    font-family: $mainFont;
    width: 100%;
    font-weight: 500;

    &:hover {
      background-color: $secondaryColorDark;
    }
  }
}

.useful-controls-dialog {
  background-color: $mainColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $textColor;
  width: calc(450*$pxToVh);
  display: flex;
  flex-direction: column;
  padding: calc(16*$pxToVh);
  border-radius: calc(4*$pxToVh);
  gap: calc(16*$pxToVh);
}

.useful-controls-dialog-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.useful-controls-dialog-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: calc(18*$pxToVh);
}

.useful-controls-dialog-close {
  width: calc(25*$pxToVh);
  height: calc(25*$pxToVh);
  padding: calc(6*$pxToVh);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: calc(4*$pxToVh);
  fill: $textColor;

  &:hover {
    background-color: $secondaryColorHighlight;
    cursor: pointer;
  }
}

.useful-controls-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(20*$pxToVh);
}

.divider {
  width: 100%;
  height: calc(1*$pxToVh);
  background: linear-gradient(90deg, #FFDB94 0%, rgba(255, 219, 148, 0.25) 51.04%, #FFDB94 100%);
  margin-bottom: calc(5*$pxToVh);
}

.useful-controls-button {
  position: absolute !important;
  bottom: calc(25*$pxToVh);
  right: calc(25*$pxToVh);
  transition: 200ms !important;
  border: none;
  color: white;
  width: calc(52*$pxToVh);
  height: calc(52*$pxToVh);
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
  border-radius: 5% !important;
  background-color: $secondaryColor !important;

  &:hover {
    background-color: $secondaryColorDark !important;
    cursor: pointer;
  }
}

.useful-controls-exit-button {
  position: absolute !important;
  right: calc(8*$pxToVh);
  top: calc(8*$pxToVh);
  border-radius: 2.5% !important;
  color: grey !important;
}

// Dialog is used fro useful controls window


// inventory grids
.inventory-grid-wrapper {
  display: flex;
  flex-direction: column;
  // gap: calc($gridGap * 2);
  width: calc(640 * $pxToVh);
  position: relative;
  // background-color: rgba(0, 0, 0, 0.5);
  // transform: scale(2);
  // z-index: -1;
  margin-bottom: calc(124*$pxToVh);

}

// .inventory-grid-wrapper.left-inventory.only {
//   margin-bottom: calc(124*$pxToVh);
// }


.inventory-grid-header-wrapper {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;

  p {
    font-size: calc(32 * $pxToVh);
    line-height: calc(43 * $pxToVh);
    font-weight: bold;
    font-family: 'Cinzel', serif;
    background: linear-gradient(180deg, #FFCE70 0%, rgba(255, 227, 173, 0.768229) 36.98%, rgba(255, 255, 255, 0.75) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0px calc(4*$pxToVh) calc(10*$pxToVh) rgba(0, 0, 0, 0.25);
  }

  &::after {
    content: '';
    height: calc(4 * $pxToVh);
    width: 100%;
    background: linear-gradient(90deg, #FFDB94 0%, rgba(255, 219, 148, 0.25) 51.04%, #FFDB94 100%);
    position: absolute;
    bottom: 0;
  }
}

.inventory-category-wrapper {
  margin-top: calc(14*$pxToVh);
  width: 100%;
  height: calc(52*$pxToVh);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(270deg, rgba(255, 234, 203, 0) 0%, rgba(255, 234, 203, 0.1) 52.08%, rgba(255, 234, 203, 0) 100%);
  position: relative;
  gap: calc(24*$pxToVh);

  &::after {
    content: '';
    height: calc(22 * $pxToVh);
    width: calc(243 * $pxToVh);
    background-image: url(./img/header.png);
    background-size: 100%;
    position: absolute;
    top: calc(-10 * $pxToVh);
  }

  .category-item {
    font-family: 'EB Garamond', serif;
    font-size: calc(16*$pxToVh);
    font-weight: 500;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: 0 calc(4*$pxToVh) calc(10*$pxToVh) rgba(0, 0, 0, 0.25);
    transition: all 0.2s;

    &.selected {
      color: rgba(255, 236, 200, 1);
      font-size: calc(20*$pxToVh);
      transform: translateY(-10%);
    }

    &:hover {
      &:not(.selected) {
        color: rgba(255, 236, 200, 1);
        transform: translateY(-10%);
        cursor: pointer;
      }
    }
  }
}

.inventory-grid-container {
  display: grid;
  height: calc((560 - 36) *$pxToVh);
  width: 100%;
  grid-template-columns: repeat($gridCols, $gridSize);
  grid-auto-rows: $gridSize + 0.22vh;
  gap: $gridGap;
  overflow-y: scroll;
  padding: calc(38*$pxToVh);
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 27.6%, rgba(0, 0, 0, 0.75) 50.52%, rgba(0, 0, 0, 0.5) 76.04%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(180deg, rgba(224, 196, 135, 0) 0%, rgba(224, 196, 135, 0.1875) 51.56%, rgba(224, 196, 135, 0) 100%);
  z-index: 0;

}

// inventory slots
.inventory-slot {
  // background-color: $secondaryColor;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2.5%;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  background-size: 50%;
  background-position: 50% 57%;
  color: $textColor;
  // border-color: rgba(0, 0, 0, 0.2);
  // border-style: inset;
  // border-width: 1px;
  width: calc(100*$pxToVh);
  height: calc(100*$pxToVh);
  transition: all 0.2s;

  &:hover {
    cursor: pointer;

    .item-frame.hasItem {
      background-image: url(./img/itemSlot3.png);

    }
  }
}

.item-img {
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 57%;
  left: 0;
  top: 0;
}

.item-frame {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(./img/itemSlot.png);
  background-size: 100%;
  z-index: -1;
  transition: all 0.2s;

  &.hasItem {
    background-image: url(./img/itemSlot2.png);
  }
}

.inventory-slot-label-box {
  width: 100%;
  color: $textColor;
  text-align: center;
  border-bottom-left-radius: 0.25vh;
  border-bottom-right-radius: 0.25vh;
}

.inventory-slot-label-text {
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: calc(2*$pxToVh) calc(3*$pxToVh);
  font-weight: 400;
  font-family: $mainFont;
  font-size: calc(11*$pxToVh);
}

.inventory-slot-number {
  position: absolute;
  top: calc(6*$pxToVh);
  left: calc(6*$pxToVh);
  background: rgba(255, 255, 255, 0.2);
  z-index: 1;
  color: rgba(255, 255, 255, 0.5);
  height: calc(28*$pxToVh);
  width: calc(28*$pxToVh);
  // border-top-left-radius: calc(6*$pxToVh);
  border-bottom-right-radius: calc(6*$pxToVh);
  padding: calc(10*$pxToVh);
  font-size: calc(13*$pxToVh);
  font-weight: 700;
  font-family: $mainFont;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px calc(10*$pxToVh) rgba(255, 255, 255, 0.25);

  &.hasItem {
    background: rgba(255, 234, 203, 0.25);
    color: rgba(182, 158, 117, 1);


  }

}


.item-slot-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  padding: calc(10*$pxToVh);
  padding-top: calc(12*$pxToVh);
  position: relative;
  text-shadow: 0px 0px calc(10*$pxToVh) rgba(255, 255, 255, 0.25);


  p {
    font-size: calc(11*$pxToVh);
  }
}

.item-durability {
  position: absolute;
  width: calc(4*$pxToVh);
  height: calc(49*$pxToVh);
  right: calc(15*$pxToVh);
  bottom: calc(35*$pxToVh);
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: calc(3*$pxToVh);
}

.item-durability-bar {
  width: 100%;
  height: calc(10*$pxToVh);
  background: rgba(60, 60, 60, 1);
  border-radius: calc(1*$pxToVh);
  transition: all 0.2s;
}

.item-slot-header-wrapper {
  position: absolute;
  bottom: calc(15*$pxToVh);
  left: calc(15*$pxToVh);
  width: 70%;
}

.item-hotslot-header-wrapper {
  @extend .item-slot-header-wrapper;
  justify-content: space-between !important;
}

.item-slot-info-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  p {
    font-size: calc(12*$pxToVh);
  }
}

.item-weight-text {
  font-size: calc(10*$pxToVh);
  color: rgba(255, 255, 255, 0.25);
}

.item-slot-currency-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: calc(3*$pxToVh);

  p {
    font-size: calc(14*$pxToVh);
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}

.item-slot-price-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: calc(3*$pxToVh);

  p {
    font-size: calc(14*$pxToVh);
    text-shadow: 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.7);
  }
}

.tooltip-wrapper {
  pointer-events: none;
  display: flex;
  background-color: rgba(0, 0, 0, 0.85);
  width: calc(200*$pxToVh);
  padding: calc(10*$pxToVh);
  flex-direction: column;
  min-width: calc(200*$pxToVh);
  color: $textColor;
  border-radius: calc(4*$pxToVh);
  transition: all 50ms, opacity 200ms linear !important;

  p {
    font-size: calc(14*$pxToVh);
    line-height: calc(20*$pxToVh);
    font-weight: 400;
    width: 100%;
    font-size: calc(14*$pxToVh);
    font-family: Inter;
  }
}

.tooltip-header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: calc(10*$pxToVh);

  p {
    font-size: calc(15*$pxToVh);
    font-weight: 400;
    width: 100%;
    text-align: center;
    font-size: calc(14*$pxToVh);
    font-weight: bold;
    font-family: 'Cinzel', serif;
    text-shadow: 0px calc(4*$pxToVh) calc(10*$pxToVh) rgba(0, 0, 0, 0.25);
    color: rgba(255, 227, 173, 1);
  }
}



.tooltip-crafting-duration {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  svg {
    height: calc(30*$pxToVh);
    width: calc(30*$pxToVh);
    padding-right: calc(1*$pxToVh);
  }

  p {
    font-size: calc(14*$pxToVh);
  }
}

.tooltip-ingredients {
  padding-top: calc(5*$pxToVh);
}

.tooltip-ingredient {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: calc(28*$pxToVh);
    height: calc(28*$pxToVh);
    padding-right: calc(5*$pxToVh);
  }
}

// hotbar
.hotbar-container {
  display: flex;
  align-items: center;
  gap: calc(2*$pxToVh);
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 2vh;
}

.hotbar-item-slot {
  @extend .inventory-slot;
  width: $gridSize;
  height: $gridSize;

  .item-slot-wrapper {
    flex-direction: column-reverse;

    .hotbar-slot-header-wrapper {
      width: 100%;
      top: calc(10*$pxToVh);
      text-align: center;
      left: 0;

      .item-slot-info-wrapper {
        justify-content: center;
      }

      .item-weight-text {
        display: none;
      }
    }
  }
}

.hotbar-slot-header-wrapper {
  position: absolute;
  bottom: calc(15*$pxToVh);
  left: calc(15*$pxToVh);
  width: 70%;
}

// item notifications

.item-notification-container {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  gap: calc(2*$pxToVh);
  position: absolute;
  bottom: 20vh;
  left: 50%;
  width: 100%;
  margin-left: calc(50% - calc($gridSize/2));
  transform: translate(-50%);
}

.item-notification-action-box {
  width: 100%;
  color: $textColor;
  background-color: $secondaryColor;
  text-transform: uppercase;
  text-align: center;
  border-top-left-radius: 0.25vh;
  border-top-right-radius: 0.25vh;
  font-family: $mainFont;

  p {
    font-size: calc(11*$pxToVh);
    padding: calc(2*$pxToVh);
    font-weight: 600;
  }
}

.item-notification-item-box {
  background-color: rgba(12, 12, 12, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2.5%;
  image-rendering: -webkit-optimize-contrast;
  position: relative;
  background-size: calc(60*$pxToVh);
  color: #c1c2c5;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: inset;
  border-width: calc(1*$pxToVh);
  height: $gridSize;
  width: $gridSize;
  background-image: url(./img/itemSlot.png);

  .item-slot-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0;
  }

  .inventory-slot-label-box {
    background-color: #22232c;
    color: #c1c2c5;
    text-align: center;
    border-bottom-left-radius: calc(3*$pxToVh);
    border-bottom-right-radius: calc(3*$pxToVh);
    border-top-color: rgba(0, 0, 0, 0.2);
    border-top-style: inset;
    border-top-width: calc(1*$pxToVh);
  }
}

.durability-bar {
  background: rgba(0, 0, 0, 0.5);
  height: calc(3*$pxToVh);
  overflow: hidden;
}

.weight-bar {
  width: 80%;
  background: rgba(108, 108, 108, 0.25);
  height: 0.8vh;
  border-radius: 5%;
  overflow: hidden;
  border-radius: calc(4 * $pxToVh);
  height: calc(16 * $pxToVh);

  .weight-bar-color {
    background: linear-gradient(270deg, #F3C976 0%, #FFEBC2 100%);
    border-radius: calc(4 * $pxToVh);

  }
}


.transition-fade-enter {
  opacity: 0;
  transition: all 200ms;

}

.transition-fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;

}

.transition-fade-enter-done {
  transition: all 200ms;
}

.transition-fade-exit {
  opacity: 1;
}

.transition-fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.transition-slide-up-enter {
  transform: translateY(calc(200*$pxToVh))
}

.transition-slide-up-enter-active {
  transform: translateY(0px);
  transition: all 200ms;
}

.transition-slide-up-exit {
  transform: translateY(0px);
}

.transition-slide-up-exit-active {
  transform: translateY(calc(200*$pxToVh));
  transition: all 200ms;
}

.inventory-grid-footer-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, rgba(255, 234, 203, 0.2) 0%, rgba(255, 234, 203, 0.05) 53.65%, rgba(255, 234, 203, 0.2) 100%);
  height: calc(36* $pxToVh);
  padding: 0 calc(15* $pxToVh);
  gap: 2%;

  .weight-text {
    width: 18%;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: calc(14* $pxToVh);
    font-weight: 500;
    background: linear-gradient(0deg, #FFECC8, #FFECC8),
      linear-gradient(0deg, #FFFFFF, #FFFFFF);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0px calc(4*$pxToVh) calc(10*$pxToVh) rgba(0, 0, 0, 0.25);
  }
}

.inventory-grid-border-left {
  width: calc(2* $pxToVh);
  height: calc(560* $pxToVh);
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 219, 148, 0) 0%, #FFDB94 52.08%, rgba(255, 219, 148, 0) 100%);
  bottom: 0;
  // z-index: 1;
}

.inventory-grid-border-right {
  @extend .inventory-grid-border-left;
  right: 0;
}



.fast-slot {
  position: absolute;
  bottom: calc(-120* $pxToVh);

  .item-slot-wrapper {
    flex-direction: column-reverse;

    .item-slot-header-wrapper {
      width: 100%;
      top: calc(10*$pxToVh);
      text-align: center;
      left: 0;

      .item-slot-info-wrapper {
        justify-content: center;
      }

      .item-weight-text {
        display: none;
      }
    }
  }
}

.fast-slot-2 {
  position: absolute;
  left: calc(154* $pxToVh);
}

.fast-slot-3 {
  position: absolute;
  left: calc(270* $pxToVh);
}

.fast-slot-4 {
  position: absolute;
  left: calc(386* $pxToVh);
}

.fast-slot-5 {
  position: absolute;
  right: calc(36* $pxToVh);
}

#player-equipment-wrapper {
  width: calc(499*$pxToVh);
  height: calc(719*$pxToVh);
  margin-top: calc(74*$pxToVh);
  margin-left: calc(40*$pxToVh);
}

#equipment-slot-warpper {
  width: 100%;
  height: calc(641*$pxToVh);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.equipment-item-slot {
  @extend .inventory-slot;
  width: $gridSize;
  height: $gridSize;
  position: absolute;
  bottom: 0;
}

#player-equipment-image {
  position: absolute;
  width: calc(279*$pxToVh);
  height: calc(641*$pxToVh);
  background-image: url(./img/player.png);
  background-size: 100%;
}

.equipment-item-slot.slot-1 {
  top: calc(74*$pxToVh);
  left: 0;

  .item-frame {
    &:not(.hasItem) {
      background-image: url(./img/hat.png);
    }
  }
}

.equipment-item-slot.slot-2 {
  top: calc(192*$pxToVh);
  left: 0;

  .item-frame {
    &:not(.hasItem) {
      background-image: url(./img/armor.png);
    }
  }
}

.equipment-item-slot.slot-3 {
  top: calc(310*$pxToVh);
  left: 0;

  .item-frame {
    &:not(.hasItem) {
      background-image: url(./img/pants.png);
    }
  }
}

.equipment-item-slot.slot-4 {
  top: calc(428*$pxToVh);
  left: 0;

  .item-frame {
    &:not(.hasItem) {
      background-image: url(./img/shoe.png);
    }
  }
}

.equipment-item-slot.slot-5 {
  top: calc(74*$pxToVh);
  right: 0;

  .item-frame {
    &:not(.hasItem) {
      background-image: url(./img/charm.png);
    }
  }
}

.equipment-item-slot.slot-6 {
  top: calc(192*$pxToVh);
  right: 0;

  .item-frame {
    &:not(.hasItem) {
      background-image: url(./img/glove.png);
    }
  }
}

.equipment-item-slot.slot-7 {
  top: calc(310*$pxToVh);
  right: 0;

  .item-frame {
    &:not(.hasItem) {
      background-image: url(./img/ring.png);
    }
  }
}

.equipment-item-slot.slot-8 {
  top: calc(428*$pxToVh);
  right: 0;

  .item-frame {
    &:not(.hasItem) {
      background-image: url(./img/card.png);
    }
  }
}

#player-equipment-button-wrapper {
  margin-top: calc(20*$pxToVh);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(20*$pxToVh);
}

#wizard-skill-button,
#skill-manage-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(172*$pxToVh);
  height: calc(42*$pxToVh);
  background: linear-gradient(90deg, rgba(255, 234, 203, 0.2) -15.44%, rgba(255, 234, 203, 0.1) 53.98%, rgba(255, 234, 203, 0.2) 113.97%);
  font-size: calc(14*$pxToVh);
  font-weight: 700;
  border-radius: calc(8*$pxToVh);
  position: relative;
  gap: calc(20*$pxToVh);
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1) translateY(-10%);
    background: linear-gradient(90deg, rgba(255, 234, 203, 0.4) -15.44%, rgba(255, 234, 203, 0.2) 53.98%, rgba(255, 234, 203, 0.4) 113.97%);

  }

  >.btn-img1 {
    height: calc(20*$pxToVh);
    width: calc(20*$pxToVh);
    background-image: url(./img/btn.png);
    background-size: 100%;
  }

  >.btn-img2 {
    position: absolute;
    height: calc(58*$pxToVh);
    width: calc(58*$pxToVh);
    background-image: url(./img/btn2.png);
    background-size: 100%;
    left: calc(6*$pxToVh);
    transform: translateX(-25%);
    z-index: 0;
  }


  >span {
    font-family: 'Cinzel', serif;
    background: linear-gradient(180deg, #FFCE70 0%, rgba(255, 227, 173, 0.768229) 36.98%, rgba(255, 255, 255, 0.75) 100%);
    text-shadow: 0 calc(4*$pxToVh) calc(10*$pxToVh) rgba(0, 0, 0, 0.25);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

  }
}

.right-inventory {
  margin-top: calc(17*$pxToVh);

  .inventory-category-wrapper {
    height: calc(35*$pxToVh);
    background: none;
  }
}

.bottom-line {
  width: 100%;
  height: calc(2*$pxToVh);
  background: linear-gradient(90deg, rgba(255, 219, 148, 0) 0%, rgba(255, 219, 148, 0.25) 51.04%, rgba(255, 219, 148, 0) 100%);

}

.input-popup-wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  z-index: -99;
  opacity: 0;

  &.show {
    animation: showPopup 0.2s linear forwards;
  }

  &.hide {
    animation: hidePopup 0.2s linear forwards;

  }

}

.input-popup-detail-wrapper {
  height: calc(160*$pxToVh);
  width: calc(250*$pxToVh);
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: calc(4*$pxToVh);

  .input-popup-header {
    width: 100%;
    text-align: center;
    text-shadow: 0px calc(4*$pxToVh) calc(10*$pxToVh) rgba(0, 0, 0, 0.25);
    position: relative;
    height: calc(48*$pxToVh);
    background: linear-gradient(270deg, rgba(255, 234, 203, 0) 0%, rgba(255, 234, 203, 0.1) 52.08%, rgba(255, 234, 203, 0) 100%);
    align-items: center;
    justify-content: center;
    display: flex;

    &::after {
      content: '';
      height: 0.3703703704vh;
      width: 100%;
      background: linear-gradient(90deg, #FFDB94 0%, rgba(255, 219, 148, 0.25) 51.04%, #FFDB94 100%);
      position: absolute;
      bottom: 0;
      left: 0;
    }

    span {
      font-size: calc(18*$pxToVh);
      font-weight: bold;
      font-family: "Cinzel", serif;
      background: linear-gradient(180deg, #FFCE70 0%, rgba(255, 227, 173, 0.768229) 36.98%, rgba(255, 255, 255, 0.75) 100%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }

  .input-popup-body {
    width: 100%;
    height: calc(100% - (48*$pxToVh));

    .input-amount-wrapper {
      display: flex;
      font-size: calc(14*$pxToVh);
      justify-content: space-around;
      padding: calc(10*$pxToVh);
      padding-top: calc(20*$pxToVh);

      #input-amont {
        height: calc(35*$pxToVh);
        width: 50%;
        font-size: calc(16*$pxToVh);
        font-weight: 900;
        text-align: center;
        border: none;
        outline: none;
        background: none;
        color: rgba(255, 234, 203, 1);
        border-bottom: calc(1*$pxToVh) solid rgba(255, 234, 203, 1);
      }

      .min-btn,
      .max-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(45*$pxToVh);
        height: calc(25*$pxToVh);
        background: rgba(255, 234, 203, 0.5);
        font-size: calc(14*$pxToVh);
        font-weight: 700;
        border-radius: calc(4*$pxToVh);
        position: relative;
        transition: all 0.2s;

        &:hover {
          cursor: pointer;
          transform: translateY(-10%);
          background: rgba(255, 234, 203, 0.8);

          >span {
            text-shadow: 0 0 calc(10*$pxToVh) rgba(0, 0, 0, 1);
            background: rgba(0, 0, 0, 0.5);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;

          }
        }

        >span {
          font-family: 'Cinzel', serif;
          background: linear-gradient(180deg, #FFCE70 0%, rgba(255, 227, 173, 0.768229) 36.98%, rgba(255, 255, 255, 0.75) 100%);
          text-shadow: 0 calc(4*$pxToVh) calc(10*$pxToVh) rgba(0, 0, 0, 0.25);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;

        }
      }
    }

    .input-button-panal {
      display: flex;
      width: 100%;
      padding-top: calc(10*$pxToVh);
      align-items: center;
      justify-content: space-around;

      .cancel-btn,
      .confirm-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100*$pxToVh);
        height: calc(25*$pxToVh);
        background: rgba(255, 234, 203, 0.5);
        font-size: calc(14*$pxToVh);
        font-weight: 700;
        border-radius: calc(4*$pxToVh);
        position: relative;
        transition: all 0.2s;

        &:hover {
          cursor: pointer;
          transform: translateY(-10%);
          background: rgba(255, 234, 203, 0.8);

          >span {
            text-shadow: 0 0 calc(10*$pxToVh) rgba(0, 0, 0, 1);
            background: rgba(0, 0, 0, 0.5);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
          }
        }

        >span {
          font-family: 'Cinzel', serif;
          background: linear-gradient(180deg, #FFCE70 0%, rgba(255, 227, 173, 0.768229) 36.98%, rgba(255, 255, 255, 0.75) 100%);
          text-shadow: 0 calc(4*$pxToVh) calc(10*$pxToVh) rgba(0, 0, 0, 0.25);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;

        }
      }

      .cancel-btn {
        background: rgba(192, 192, 192, 0.2);

        &:hover {
          cursor: pointer;
          transform: translateY(-10%);
          background: rgba(192, 192, 192, 0.8);

          >span {
            text-shadow: 0 0 calc(10*$pxToVh) rgba(0, 0, 0, 1);
            background: rgba(0, 0, 0, 0.5);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
          }
        }
      }
    }
  }

}

@keyframes showPopup {
  0% {
    z-index: 10;

    opacity: 0;
  }

  100% {
    z-index: 10;

    opacity: 1;

  }
}


@keyframes hidePopup {
  0% {
    z-index: 10;
    // opacity: 1;
  }

  100% {
    opacity: 0;
    z-index: -66;

  }
}